<div class="form-group">
    <label for="status">Game Status</label>
    <input required value="<%= game.status %> " type="text" name="status" id="status" class=form-control>
</div>

<div class="form-group">
    <label for="champion">Champion Name</label>
    <input required value="<%= game.champion %> " type="text" name="champion" id="champion" class=form-control>
</div>

<div class="form-group">
    <label for="level">Level</label>
    <input required value="<%= game.level %> " type="Number" name="level" id="level" class=form-control min="1" max="18">
</div>

<div class="form-group">
    <label for="kda">KDA</label>
    <input required value="<%= game.kda %>" type="text" name="kda" id="kda" class=form-control>
</div>

<div class="form-group">
    <label for="creeperScore">Creeper Score (CS)</label>
    <input required value="<%= game.creeperScore %>" type="number" name="creeperScore" id="creeperScore" class=form-control>
</div>

<div class="form-group">
    <label for="goldAcquired">Gold Acquired</label>
    <input required value="<% game.goldAcquired %>" type="number" name="goldAcquired" id="goldAcquired" class=form-control>
</div>

<div class="form-group">
    <label for="notes">Notes</label>
    <textarea name="notes" id="notes" class="form-control"><% game.notes %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Add Game</button>
