<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
    <title>Database</title>
</head>
<body>
    <div style="background:transparent !important" class="jumbotron">
        <h1 class="display-4">Game Database</h1>
        <hr class="my-3">
        <a href="/games/new" class="btn btn-success mb-4">New Game</a>
        <% game.forEach(game => {  %> 
            <div class="card mb-4">
                <h4 class="card-header"><%= game.status %></h4>
                <div class="card-body">
                    <h4 class="card-title"><%= game.champion %>  level <%= game.level %> </h4>
                    <div class="card-text mb-1"><%= game.kda %> </div>
                    <div class="card-text mb-1"><%= game.creeperScore %> CS</div>
                    <div class="card-text mb-2"><%= game.goldAcquired %> </div>
                    <div class="card-text mb-1"><%= game.notes %> </div>
                    <a href="games/<%= game.id %>" class="btn btn-primary">Read More</a>
                    <form action="/games/<%= game.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %> 
    </div>
</body>
</html>